html {
  font-size: 62.5%;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  background-color: #f3f3f3; }

header {
  height: 6rem;
  background-color: #002f6c;
  box-sizing: border-box;
  padding: 2.5rem 0; }
  header .container {
    margin-top: -.6rem; }
  header img {
    width: 16rem; }

.container {
  margin-top: 5rem; }

h1, h2, .mm-card .card-title, .h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000; }

p, h1, h2, .mm-card .card-title, .h2 {
  margin: 0 0 2rem 0; }

h1 {
  font-size: 4rem; }

h2, .mm-card .card-title, .h2 {
  font-size: 3rem; }

p {
  font-size: 1.4rem; }

a {
  color: #005A9F; }
  a:hover {
    color: #002f6c; }

.eyebrow {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  margin-bottom: 2.4rem; }

.subtext {
  font-size: 1.2rem; }

.btn-primary {
  color: #000;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.2rem 4rem;
  background-color: yellow;
  border: 0;
  border-radius: 0; }

.mm-card {
  margin-bottom: 2rem; }
  .mm-card .card-body {
    padding: 3rem; }
  .mm-card .mm-card-body {
    height: 200px; }
    @media all and (min-width: 1024px) {
      .mm-card .mm-card-body {
        height: 250px; } }
  .mm-card .mm-card-footer {
    height: 100px; }
    .mm-card .mm-card-footer table {
      height: 100%; }
  .mm-card .image {
    height: inherit;
    min-height: 15rem;
    width: 100%; }

/*# sourceMappingURL=mm-code-exercise.css.map */
